@mixin button-base {
  background: $pwc-orange;
  border-radius: 3px;
  border: 0;
  opacity: 0.9;
}

.button.base {
  @include button-base;

  &:hover {
    opacity: 1;
  }

  &.disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &.btn-outline-pwc {
    background: transparent;
    border: 1px solid $pwc-orange;
    color: $pwc-orange;
  }
}

@mixin button-pwc {
  @include button-base;
  width: 200px;

  @media (min-width: $sm) {
    width: 200px;
  }

  &:hover {
    opacity: 1;
  }

  &.disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &.btn-outline-pwc {
    background: transparent;
    border: 1px solid $pwc-orange;
    color: $pwc-orange;
  }
}

.button.add {
  background: $pwc-orange;
  border-radius: 3px;
  width: 95px;
  color: white;
  border: 0;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }

  &.disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &.btn-outline-pwc {
    background: transparent;
    border: 1px solid $pwc-orange;
    color: $pwc-orange;
  }
}

.button.pwc {
  @include button-pwc;
}

.button.cancel {
  background: $soft-grey;
  border-radius: 3px;
  width: 200px;
  color: black;
  border: 0;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
  &.disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.button.reset {
  background: $soft-grey;
  border-radius: 3px;
  color: black;
  border: 0;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
  &.disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.button.confirmNo {
  background: $soft-grey;
  border-radius: 3px;
  color: black;
  border: 0;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
  &.disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.button.confirmYes {
  background: $pwc-orange;
  border-radius: 3px;
  color: white;
  border: 0;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
  &.disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.button.btn-danger {
  background: $red;
  border-radius: 3px;
  border: 0;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
}

.button.soft {
  border-radius: 3px;
  border: unset;
  color: $pwc-orange;

  &.orange {
    background-color: $soft-orange;
  }

  &.red {
    background-color: $soft-red;
  }

  &.dark {
    background-color: $pwc-orange;
    color: white;
  }
}

@media all and (max-width: $sm) {
  .btn-sm-block {
    width: 100%;
    display: block;
  }
}
