.button.pwc {
  background: linear-gradient(180deg, #e3721c 0%, #c14303 100%);
  border-radius: 10px;
  border: 0;
}

.button.btn-danger {
  background: linear-gradient(180deg, red 0%, palevioletred 100%);
}
