.navbar {
  background: white;
  height: 70px;
}

.dropdown__user {
  background: white;
}

.dropdown-item {
  &:hover {
    background: rgba(245, 100, 9, 0.2);
  }
}

.dropdown__menu {
  background: #fff4ed;
}

.dropdown__active {
  background: $pwc-orange;
}

.nav_item {
  color: $pwc-orange;
  letter-spacing: 1px;
  transition: 0.15s ease-in-out;
  &::after {
    content: "";
    display: block;
    margin-top: 5px;
    height: 2px;
    width: 100%;
    background: white;
  }
  &.active {
    &::after {
      height: 2px;
      background: $pwc-orange;
    }
  }
}

.nav_item_dropdown {
  color: $pwc-orange;
  letter-spacing: 1px;
  transition: 0.15s ease-in-out;
}

.nav-link {
  color: black;
  &:hover {
    color: $pwc-orange;
  }
}

.dropdown__nav {
  color: $pwc-orange;
}
