.side-box {
  background: #fff4ed;
  color: white;
  width: 330px;
  position: fixed;
  height: calc(100vh - 63px);
  overflow-y: scroll;

  // &::-webkit-scrollbar {
  //   -webkit-appearance: none;
  //   width: 10px;
  //   height: 8px;
  //   border-radius: 10px;
  //   background-color: grey;
  // }

  // &::-webkit-scrollbar-thumb {
  //   border-radius: 6px;
  //   background-color: darkgrey;
  //   border: 3px solid grey;
  // }

  .side-box__searchbar {
    padding: 16px 25px 16px 25px;
  }

  .side-box__item {
    position: relative;
    &.active {
      background: $pwc-orange;
      // &::before {
      //   content: "";
      //   display: block;
      //   width: 5px;
      //   height: 100%;
      //   position: absolute;
      //   background: grey;
      //   top: 0px;
      //   left: 0px;
      // }
    }
    &:hover {
      &.active {
        background: rgba(245, 100, 9, 0.7);
      }
      background: rgba(245, 100, 9, 0.2);
    }
    .side-box__item__title {
      padding: 10px 10px 10px 0px;
      text-decoration: none;
      width: 260px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: $pwc-orange;
      font-weight: bold;
      &.active {
        color: white;
      }
      &:hover {
        &.active {
          color: white;
        }
        color: $pwc-orange;
      }
    }
    .side-box__item__icon {
      color: white;
      padding: 10px;
      margin: 0;
      &:hover {
        background: rgba(245, 100, 9, 0.2);
      }
    }
  }
}
