.side-box {
  background: #3a3838;
  border-radius: 10px;
  color: white;
  width: 300px;
  position: fixed;
  height: 80vh;
  overflow-y: scroll;

  .side-box__searchbar {
    padding: 10px;
  }

  .side-box__list {
    overflow-y: scroll;
  }

  .side-box__item {
    position: relative;
    &.active {
      background: rgba(300, 300, 300, 0.1);
      &::before {
        content: "";
        display: block;
        width: 5px;
        height: 100%;
        position: absolute;
        background: grey;
        top: 0px;
        left: 0px;
      }
    }
    &:hover {
      &.active {
        opacity: 1;
      }
      opacity: 0.5;
      background: rgba(300, 300, 300, 0.05);
    }
    .side-box__item__title {
      padding: 10px 10px 10px 20px;
      text-decoration: none;
      width: 260px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: white;
    }
    .side-box__item__icon {
      color: white;
      padding: 0 5px 0 5px;
      margin: 0 10px 0 0;
      &:hover {
        background: rgba(300, 300, 300, 0.2);
      }
    }
  }
}
