table.table-pwc {
  tbody {
    tr {
      background: white;
      cursor: pointer;
      height: 60px;
      color: inherit;
      &:hover {
        background: #f5f5f5;
        text-decoration: none;
        color: inherit;
        td.action {
          div {
            visibility: visible;
          }
          button {
            visibility: visible;
          }
        }
      }
      td {
        vertical-align: middle;
        margin: 0 5px;
        &.empty {
          text-align: center;
          vertical-align: middle;
          padding: 20px 0px;
          // background: rgba(0, 0, 0, 0.1);
        }
        &.action {
          @media (min-width: $md) {
            div {
              visibility: hidden;
            }
            button {
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}
