// $black-mine-shaft: #333333;
// $black-tundora: #404040;
// $gray-oslo: #818386;
// $gray-soft: #eaeaea;
// $gray-alto: #d9d9d9;
// $green-japanese-laurel: #00b000;
// $green-fruit-salad: #58a75b;
// $green-malachite: #2cf63e;
// $green-feta: #eafde7;
// $white-alabaster: #f9f9f9;
// $red-punch: #dc3545;
// $blue-picton: #33b8f1;

$orange-gradient-start: #e3721c;
$orange-gradient-end: #c14303;
$pwc-black: #3a3838;
$pwc-orange: #f56409;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
