@font-face {
  font-family: "Georgia";
  src: local("Georgia"),
    url(./assets/fonts/georgia/georgia.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: Georgia, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #f56409;
  --pale-primary-color: #fccfb8;
  --soft-orange: #fff4ed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
